<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bulb Test</title>
</head>
<body>
<div>
    <h2 id="titleText">What Can JS D0?</h2>
    <button onclick="document.getElementById('myImage').src='image1.jpg'">Bulb On!</button>
    <img src="image1.jpg" id="myImage" style="width: 300px">
    <button onclick="document.getElementById('myImage').src='image2.jpg'">Bulb Off!</button>
    <br>
    <button onclick="document.getElementById('titleText').style.fontSize='50px'">text magic!</button>
    <br>
    <button onclick="document.getElementById('titleText').style.display='none'">hide text!</button><br>
    <button onclick="document.getElementById('titleText').style.display = 'block'">show text!</button>
</div>
</body>
</html>